:root {
    --background-cor: #f9f8f8;
    --branco-principal: #FFFFFF;
    --font-: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-cor);
    font-family: var(--font-);
    font-weight: 600;
}

.navegacao{
   background-color: var(--branco-principal);
}

.img__nav {
    margin: 1em 0 1em 20%;
}

.lista__navegacao {
    display: flex;
    list-style-type: none;
	position: absolute;
	right: 0;
}